@keyframes slide {
    from {
        background-position: -10% 0;
    }
    to {
        background-position: 120% 0;
    }
}
body{
    height:100%;
}

@keyframes moveRightToLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


body {
    
    
    background-color: black;
    background-repeat: repeat-x;
    animation: slide 15s linear infinite 1s;
    
    

}

.container{
   
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
    
#titreDiapo {
    color:rgb(213, 205, 164);
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#fond {
  
    background-repeat: no-repeat;
    background-size: ;
    background-position: center;
    overflow:hidden;
  }
  #fond img {
    border-radius: 50%;
  }

 



#diaporama{
    max-width:100%;
    margin:5%;
    box-shadow: 0px 0px 5px 5px rgb(213, 205, 164);
    position:relative;
    border-radius: 0%;
    
    

}

#diaporama img{
    max-width:100%;
    display:block;
}

#diaporama .bt{
    position:absolute;
    top:50%;
    color:white;
    font-size:2.5em;
    height:60px;
    width:60px;
    margin-top:-30px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    opacity:0;
    transition:opacity 1s;
}

#diaporama:hover .bt{
    opacity:1;
}

#diaporama .bt:hover{
    color:rgb(213, 205, 164);
}

#diaporama #btGauche{
    left:0px;
   
}

#diaporama #btDroite{
    right:0px;
}

#diaporama #legende{
    position:relative;
    background:rgb(213, 205, 164);
    bottom:20px;
    left:10%;
    width:80%;
    text-align: center;
    font-size:1.3em;
    font-family: 'Allura', cursive;
    padding:5px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 -4px 6px rgba(255, 197, 143, 0.5), 0 2px 4px rgba(255, 197, 143, 0.3);
    box-shadow: 0 4px 6px rgba(255, 197, 143, 0.5), 0 -2px 4px rgba(255, 197, 143, 0.3);
}

a {
    text-decoration: none;
    color: red;
}



footer {
    background-color: rgba(247, 10, 58, 0.334);
    text-align: center;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    
}
    
  
   


  #footer-img {
   border-radius: 50%;
    width: 20%;
  animation: moveRightToLeft 10s linear infinite;
  display: flex;
  align-items: center;
   justify-content: center;
}

    

#copy {
    float: right;
    text-align: right;
    margin-left:auto;
 }











@media only all and (max-width:900px){

    #body{max-width:100%;
        width:50%;
    }
  
    #diaporama #legende{
        position:relative;
        background:rgb(213, 205, 164);
        bottom:20px;
        left:10%;
        width:80%;
        text-align: center;
        font-size:1.0em;
        font-family: 'Allura', cursive;
        padding:5px;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 -4px 6px rgba(255, 197, 143, 0.5), 0 2px 4px rgba(255, 197, 143, 0.3);
    box-shadow: 0 4px 6px rgba(255, 197, 143, 0.5), 0 -2px 4px rgba(255, 197, 143, 0.3);
    }
    #fond {
        background-position: center;
     background-repeat: no-repeat;
     background-size:  300px;
 
     
   }
}



 
 

